<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title>虚拟设备</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>
<div>
    <b id = "deviceId" th:text="${deviceId}"></b>
</div>
<div style="display:inline">
    <b>ph</b><input type="number" name="quantity" id = "ph">
</div>
<div style="display:inline">
    <b>tds</b><input type="number" name="quantity" id = "tds">
</div>
<div style="display:inline">
    <b>temperature</b><input type="number" name="quantity" id = "temperature">
</div>
<script th:src="@{/js/global.js}"></script>
<script>
    var id = document.getElementById("deviceId").innerText;
    var Url = CONTEXT_PATH+"/getData";
    function clock(){

        $.ajax({
            type: "POST",
            url: Url,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(GetJsonData()),
            dataType: "json",
            success: function (message) {
                console.log('success');
            },
            error: function (message) {
                console.log(message);
            }
        });
    }


    function GetJsonData() {
        var deviceId = id;

        var ph =  document.getElementById("ph").value + Math.random();
        var tds = document.getElementById("tds").value;
        var temperature = document.getElementById("temperature").value+ Math.random() ;
        var time = new Date();
        var json = {
            "deviceId": deviceId,
            "ph": ph,
            "tds": tds,
            "temperature": temperature,
            "deviceTime": time
        };
        return json;
    }
    var int=self.setInterval("clock()",10000);
</script>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>